<div class="row-section">
    <div class="category">
        <app-kategori></app-kategori>
        <app-egitmen></app-egitmen>
    </div>
    <app-search></app-search>
</div>
<div class="sub-section">
    <div class="course-container">
        <app-course-cart [imgUrl]='img1' [title]="title1" [progress]="progress"></app-course-cart>
        <app-course-cart [imgUrl]='img2' [title]="title2" [progress]="progress"></app-course-cart>
        <app-course-cart [imgUrl]='img3' [title]="title3" [progress]="progress"></app-course-cart>
        <app-course-cart [imgUrl]='img4' [title]="title4" [progress]="progress"></app-course-cart>
    </div> 
</div>
<app-footer></app-footer>


