.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#134361
}
.logo{
    display: flex;
}
.small-image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.navbar ul{
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar ul li{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.navbar ul li:hover{
    background-color: #343854;
} 
.navbar ul li a{
    color:white;
    text-decoration: none;

}