<div class="navbar">
    <a class="logo" href="">
        <img 
        src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=height:60/https://www.filepicker.io/api/file/4mZobU9NSRKr8UJADi4M"
         />
    </a>
        <ul>
            <li><a routerLink="/kurslarim">Kurslarım</a></li>
            <li><a routerLink="/tum-kurslar">Tüm Kurslar</a></li>
            <li><a routerLink="/kampa-hazirlik">Kampa Hazırlık</a></li>
            <li><a routerLink="/sorular">Sık Sorulan Sorular</a></li>
            <li><a href="#">
                <img class="small-image" src="https://s.gravatar.com/avatar/19533ec09262f93114173b334778cfcb?d=mm" />
            </a></li>
        </ul>
   
   
</div>

