<section class="container">
    <div class="ctnr">
        <p><span  class="span-style">➤</span>
            <strong>Yazılım Geliştirici Yetiştirme Kampı ücretsiz mi olacak?

        </strong> Evet, ücretsiz olacak.</p>
        <p><span class="span-style">➤</span>
            <strong class="soru">Yazılım Geliştirici Yetiştirme Kampı nerede yayınlanacak?</strong>
            <span class="cevap">Kampımız canlı olarak yayınlanacak. Canlı yayın YouTube kanalımda gerçekleşecek. <span class="link-style">Canlı yayın alanına ulaşmak için tıklayınız.</span> Yayın saatini kaçırmamak için kanala abone olup hatırlatıcı eklemeyi unutmayınız. 
                    Canlı yayın sonrası videolar, ödevler ve testler <span class="link-style">kodlama.io</span> 'da yayınlanacak.</span>
        </p>

        <p><span class="span-style">➤</span>
            <strong class="soru">Yazılım Geliştirici Yetiştirme Kampının canlı yayın tarihi ne zaman ve saat kaçta başlayacak? Bir canlı yayın süresi ne kadar olacak? Canlı yayın hangi günlerde yapılacak?</strong>
            <span class="cevap">
                <p>Canlı yayın balangıç tarihi : 9 Ocak Cumartesi 2021</p>
                <p>Canlı yayın saati : 21.00</p>
                <p>Canlı yayın süresi : 3 ders saati</p>
                <p>Canlı yayın günleri : Çarşamba ve Cumartesi (İlk canlı ders tarihini takip eden her haftanın Çarşamba ve Cumartesi günlerinde devam edecek)</p>
            </span>
        </p>
        <p><span class="span-style">➤</span>
            <strong class="soru">Yazılım Geliştirici Yetiştirme Kamp programı ne kadar sürecek?</strong>
            <span class="cevap"> Ücretsiz olarak vereceğim bu kamp 2 ay boyunca sürecek.
            </span>
        </p>
        <p><span class="span-style">➤</span>
            <strong class="soru">Kamp programında neler olacak?</strong>
            <span class="cevap"><span class="link-style"> Detaylı kamp programına ulaşmak için bağlantıyı tıklayınız..</span>
            </span>
        </p>
        <p><span class="span-style">➤</span>
            <strong class="soru">Canlı yayın sonrası videolar, ödevler ve testler olacak mı? Olacak ise bunlara nasıl ulaşabilirim? </strong>
            <span class="cevap"> Evet, canlı yayın sonrası videolar, ödevler ve testler olacak. Kodlama.io 'da Yazılım Geliştirici Yetiştirme Kampının içinde bulunan ders programınıza ekleyeceğiz.
            </span>
        </p>
        <p><span class="span-style">➤</span>
            <strong class="soru">Yazılım Geliştirici Yetiştirme Kampından en büyük verimi nasıl alabilirim? Kamp sırasında neler yapmamı önerirsiniz? </strong>
            <span class="cevap">
                <p>1-İki ekranda takip etmeye çalışın. (Bu ekranlardan birinde beni izlerken diğerinde kod yazıp, soru cevap platformumuzdan destek alabilirsiniz. Yardımcı ekran tablet, monitör veya evdeki HDMI destekli TV olabilir.)</p>
                <p>2-İkinci ekran yoksa? (Bu durumda bilgisayar ekranınızı ikiye bölebilirsiniz. Windows + Sol Yön tuşuyla mevcut ekranı sola, Windows + sağ yön tuşu ikilisiyle de mevcut diğer ekranı sağa atabilirsiniz. Öncesinde deneyiniz.)</p>
                <p>3-Ne kurmalıyım? (Eğitimin ilk günü için bir şey kurmanız gerekmiyor. Online editör kullanacağız. Repl.it sitesinden bir hesap açmanız yeterlidir. İkinci gün itibariyle Visual Studio kullanacağız. <span class="link-style">Sizin için bir kurulum videosu hazırladım.)</span></p>
            </span>
        </p>
        <p><span class="span-style">➤</span>
            <strong class="soru">Yazılım Geliştirici Yetiştirme Kampından en büyük verimi nasıl alabilirim? Yazılım Geliştirici Yetiştirme Kampına katılmadan önce neler yapmamı önerirsiniz? </strong>
            <span class="cevap"> 
                <p>
                    Herhangi bir programlama bilgisi tecrübeniz olması gerekmiyor. Fakat temel programlama tecrübenizin olması büyük avantaj sağlar. Bu yüzden aşağıdaki bana ait yine ücretsiz kaynaklara erişiminiz önemlidir.
                </p>
                <ul>
                    <li>Eğer programlama tecrübeniz ve bilginiz hiç yok veya çok az ise tıklayınız,</li>
                    <li>Yukarıdaki dersi bitirdim ama biraz daha örneğe ihtiyacım var diyorsanız tıklayınız,</li>
                    <li>Temel seviyeden daha iyi durumdayım diyorsanız tıklayınız,</li>
                    <li>İleri seviye olmak üzereyim diyorsanız tıklayınız,</li>
                </ul>
            </span>
        </p>
        <p><span class="span-style">➤</span>
            <strong class="soru"> Canlı yayına katılamayacak kişilerin, dersleri herhangi bir platform üzerinden takip etme, tekrarını izleme gibi bir şansı olacak mı? </strong>
            <span class="cevap"> yayından sonra kodlama.io 'ya ekleyeceğiz. Katılamadığınız veya tekrar izlemek istediğiniz yayınlara kodlama.io 'dan ulaşabilirsiniz.
            </span>
        </p>

    </div>
</section>
<app-footer></app-footer>
