<div class="course-card">
        <img class="course-image"
         src={{imgUrl}}
         alt="course one"/>
        <p class="title">
            {{title}}
        </p>
        <div class="course-info">
            <div class="course-info-small">
                <img class="small-img"
                src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:30,height:30/https://www.filepicker.io/api/file/GsqiGFGCRmuBuel0qqF3"
                alt="user img"/>
                <span class="author-name">Engin Demirog</span>
            </div>
            <div>
                <span>{{progress}}</span>
            <br>
            TAMAMLANDI
            </div>
        </div>
    </div>
