<section class="container">
    <div class="ctnr">
        <div class="container-img">
            <img  class="conte-img"
            src="https://cdn.fs.teachablecdn.com/nZZ8g3NlSlCtBal6ZsTz"
            alt="container-image" />
        </div>
        <div class="content">
            <div class="header">
                <h4>
                    <strong>Yazılım Geliştirici Yetiştirme Programımıza çok az kaldı</strong>
                </h4>
            </div>
            <p>
                Programdan en büyük verimi almanız için şimdiden önlemler almanızı 
                ve hazırlık yapmanızı önereceğim tüyoları bu sayfada
                        toplamaya karar verdim.
            </p>
        </div>
    </div>
</section>

<section class="container-two">
    <div class="ctnr-two">
        <div class="header">
            <h4>
                <strong>Paylaşmak istiyorum!</strong>
            </h4>
        </div>
        <p>
            Bu projeye gösterilen ilginin büyüklüğünü açıkçası beklemiyordum. 
            (Şimdiden 30.000 kaydı geçtik.) Bu da demek oluyor ki muhtemelen Türkiye'de bugüne
             kadar yapılmış en kalabalık profesyonel yazılım geliştirme eğitimini yapacağız.
             </p>
        <p>
            Öğrencilerimin heyecanı beni en az onlar kadar motive ediyor. 
             Ben ve ekibim çok iyi hazırlanıyoruz.
        </p>
    </div>
</section>

<section class="container-three">
    <div class="ctnr-three">
        <div class="cart">
            <img  class="cart-img"
            src="https://cdn.fs.teachablecdn.com/3PSEoJp4QJedTOclvuGC"
            alt="container-image" />
            <div class="cart-text">
                <h5><strong>İki ekranda takip etmeye çalışın</strong></h5>
            </div>
            <p>
                Bu ekranlardan birinde beni izlerken diğerinde kod yazıp,
                 soru cevap platformumuzdan destek alabilirsiniz.
                 Yardımcı ekran tablet,monitör veya evdeki HDMI
                  destekli TV olabilir.
            </p>
        </div>
        <div class="cart">
            <img  class="cart-img"
            src="https://cdn.fs.teachablecdn.com/8hPLLSogQRmhnbjzuv7p"
            alt="container-image" />
            <div class="cart-text">
                <h5><strong>İki ekranda takip etmeye çalışın</strong></h5>
            </div>
            <p>
                Bu ekranlardan birinde beni izlerken diğerinde kod yazıp,
                 soru cevap platformumuzdan destek alabilirsiniz.
                 Yardımcı ekran tablet,monitör veya evdeki HDMI
                  destekli TV olabilir.
            </p>

        </div>
        <div class="cart">
            <img  class="cart-img"
            src="https://cdn.fs.teachablecdn.com/IVXtdNNTeIKcRSW4oPwA"
            alt="container-image" />
            <div class="cart-text">
                <h5><strong>İki ekranda takip etmeye çalışın</strong></h5>
            </div>
            <p>
                Bu ekranlardan birinde beni izlerken diğerinde kod yazıp,
                 soru cevap platformumuzdan destek alabilirsiniz.
                 Yardımcı ekran tablet,monitör veya evdeki HDMI
                  destekli TV olabilir.
            </p>

        </div>
        
    </div>
</section>

<section class="container-for">
    <div class="ctnr-for">
        <h4><strong>Bunu izlemenizi öneririm.</strong></h4>
        <p>Programlama tecrübeniz yok veya çok az ise mutlaka bu 2 saatlik programı izleyiniz.</p>
        <app-course-cart [imgUrl]='img1' [title]="title1" [progress]="progress"></app-course-cart>
    </div>
</section>

<app-footer></app-footer>